<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="templateProcessor" class="ru.otus.template.TemplateProcessor">
        <constructor-arg name="templateDir" value="/template" />
    </bean>

    <bean id="messageSystem" class="ru.otus.messageSystem.MessageSystem" destroy-method="dispose" />

    <bean id="authAddress" class="ru.otus.messageSystem.Address">
        <constructor-arg name="id" value="Auth Service" />
    </bean>

    <bean id="dbAddress" class="ru.otus.messageSystem.Address">
        <constructor-arg name="id" value="DB Service"/>
    </bean>

    <bean id="frontendAddress" class="ru.otus.messageSystem.Address">
        <constructor-arg name="id" value="Frontend Service" />
    </bean>

    <bean id="msContext" class="ru.otus.app.messageSystemContext.MessageSystemContext">
        <constructor-arg name="messageSystem" value="messageSystem"/>
        <constructor-arg name="authAddress" value="authAddress"/>
        <constructor-arg name="dbAddress" value="dbAddress"/>
        <constructor-arg name="frontendAddress" value="frontendAddress"/>
    </bean>
</beans>
