application:

  clients:
    - id: "DB#1"
      port: 5051
      run_command: "java -jar ../db-server/target/db-server.jar --id=${application.clients[0].id} --port=${application.clients[0].port}"
    - id: "DB#2"
      port: 5052
      run_command: "java -jar ../db-server/target/db-server.jar --id=${application.clients[1].id} --port=${application.clients[1].port}"
    - id: "FE#1"
      port: 5053
      run_command: "java -jar ../frontend/target/frontend.jar ${application.clients[2].id} ${application.clients[2].port}"
    - id: "FE#2"
      port: 5054
      run_command: "java -jar ../frontend/target/frontend.jar ${application.clients[3].id} ${application.clients[3].port}"

  db_server_ids:
    - ${application.clients[0].id}
    - ${application.clients[1].id}

  log_directory: "../logs"
  command_line_separator: " "
