application:
  servers:
    - id: "DB#1"
      port: 5051
      command: "java -jar ../frontend/target/frontend.jar ${application.servers[0].id} ${application.servers[0].port}"
    - id: "DB#2"
      port: 5052
      command: "java -jar ../frontend/target/frontend.jar ${application.servers[1].id} ${application.servers[1].port}"
    - id: "FE#1"
      port: 5053
      command: "java -jar ../frontend/target/frontend.jar ${application.servers[2].id} ${application.servers[2].port}"
    - id: "FE#2"
      port: 5054
      command: "java -jar ../frontend/target/frontend.jar ${application.servers[3].id} ${application.servers[3].port}"
  db-server-id-list:
    - ${application.servers[0].id}
    - ${application.servers[1].id}
